<div class="wrap">
<div style=""class="backImage">
	<div style="box-shadow: 0 0 17px -1px #333;height: auto;"">
 		<br>
		<br>
		<div style="">	
  		<div ui-grid="gridOptions1"  ui-grid-selection ui-grid-exporter ui-grid-pagination class="grid"></div>
  			<br /><br />
		</div>
	</div>
</div>
</div>
