
<br>
<div class="wrap">
<div class="">

<div  class="backImage ">

		<div style="  box-shadow: 0 0 17px -1px #333;
    margin-left: -7px;
    position: relative;" class="col-lg-6">
			  <nvd3 options="options" data="data"></nvd3>

 
		</div>

		<div style=" box-shadow: 0 0 17px -1px #333;
    margin-left: 7px;
    position: relative;height: 500.5px;" class="col-lg-6">
			 <nvd3 options="options1" data="data1"></nvd3>

 
		</div>
			{{pieChart}}
	</div>
	</div>
</div>
</div>
</div>

