.wrap{
margin-bottom: 10px;
    margin-left: 12.1px;
    margin-top: 44px;
    width: 1248.9px;

	}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 600px; 
    height: 393.1px;
}
.grid {
  width: 1200px;
  height: 450px;
  margin-left:23px;
  margin-right:5px;
}
