<!DOCTYPE html>
<html ng-app="exampleApp" class="no-js">
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>LIC Smart Agent</title>
<link href="css/bootstrap-3.1.1.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/ui-unstable.css" rel="stylesheet">
<link rel="stylesheet"
	href="http://ui-grid.info/release/ui-grid-unstable.css" type="text/css"> 
<link rel="stylesheet" href="css/nv.d3.min.css"/>


</head>

<body>
	<div class="loader" ng-hide="initialized">Loading...</div>

	<nav class="navbar navbar-fixed-top navbar-default ng-hide"
		role="navigation" ng-show="initialized">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Grid and PieChart Design </a>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="#!/login">Home</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<!-- Split button -->
					<div class="btn-group" dropdown>
						<button type="button" class="btn btn-danger">Action</button>
						<button type="button" class="btn btn-danger dropdown-toggle" dropdown-toggle>
							<span class="caret"></span> <span class="sr-only">Split button!</span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a  href="#!/grid">Grid</a></li><!-- ng-click="showme=true" -->
							<li><a  href="#!/login">Pie Chart</a></li><!-- ng-click="showme=false" -->
						</ul>
					</div>
				</ul>
			</div>
		</div>
	</nav>

	<div class="ng-hide" ng-show="initialized">
		<div ng-view></div>
	</div>
	<script src="js/lib/modernizr.custom.73035.js"></script>
	<script src="js/lib/jquery-1.9.1.min.js"></script>
	<script src="js/lib/angular -1. 4.js"></script>
	<script src="js/lib/pie-chart.min.js"></script>
	<script src="js/lib/angular-resource-1.4.js"></script>
	<script src="js/lib/angular-route-1.4.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controller/controller.js"></script>
	<script src="js/services/service.js"></script>
	<script src="js/lib/ui-unstable.js"></script>
	<script src="js/lib/d3.min.js"></script>
    <script src="js/lib/nv.d3.min.js"></script>
    <script src="js/lib/angular-nvd3.js"></script>
	<script src="js/lib/ui-bootstrap-tpls.js"></script>
	<script src="js/lib/csv.js"></script>
	<script src="js/lib/pdfmake.js"></script> 
    <script src="js/lib/vfs_fonts.js"></script>


</body>
</html>